# Node
node_modules/

# Env files
.env
.env.*

# Certs / keys
*.pem
*.key
*.crt
*.p12

# Jenkins / BuildKit secrets
jenkins/buildkitd/certs/

# Kubernetes real secrets
**/*secret*.yaml
**/*secret*.yml
**/*secrets*.yaml
**/*secrets*.yml

# AWS IAM policy files (ignore real ones)
kubernetes/k8s-manifests/aws-secret-manager/*.json

# But keep example policy files
!kubernetes/k8s-manifests/aws-secret-manager/*.example.json

